{% extends 'base/base.html' %}

{% block content %}
    {% if created %}
        <h1>Welcome, <span class="span">{{ object.user.username }}</span> your account is successfully created!</h1>
        <h1 class="p-4">Please, fill your profile information.</h1>
    {% endif %}
    <section class="container-fluid justify-content-center pt-10 pb-10">
        <div class="container-sm justify-content-center">
            <form class="col-lg-12 offset-lg-0 container-fluid" action="{% url 'profile edit' pk=object.pk %}"
                  method="post" enctype="multipart/form-data">
                {% for field in form %}
                    <div class="container-fluid">
                        <label class="row justify-content-center col-form-label"
                               for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="container-fluid">
                    <input type="submit" class="btn btn-primary form-control" value="Save changes">
                </div>
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}
