{% extends 'base/base.html' %}

{% block content %}
    <section class="container-fluid justify-content-center pt-10 pb-10">
        <div class="container w-50 justify-content-center">
            {% for post in guidepost_list %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h4>
                            <a href="#"
                               class="card-title">{{ post.title }}</a>
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
