{% extends 'base/base.html' %}

{% block content %}
    {% if not game_list %}
        <section class="container-fluid justify-content-center pt-10 pb-10">
            <div class="container w-50 justify-content-center">
                <h3 class="p-3">No games found!</h3>
            </div>
        </section>
    {% endif %}
    {% if game_list %}
        {% if request.user.is_authenticated %}
            <section class="container-fluid justify-content-center pt-5">
                <div class="container-sm justify-content-center">
                    <form class="col-lg-8 offset-lg-2 container-fluid" action="{% url 'games list' %}" method="get">
                        {% for field in filter_form %}
                            <div class="container-fluid">
                                <label class="row justify-content-center col-form-label"
                                       for="{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="invalid-feedback">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="container-fluid">
                            <input type="submit" class="btn btn-primary form-control" value="Filter">
                        </div>
                    </form>
                </div>
            </section>
        {% endif %}
        <section class="container-fluid justify-content-center pt-10">
            {% include 'base/partials/paginator.html' %}
        </section>
    {% endif %}
    <section class="container-fluid justify-content-center">
        <div class="container w-50 justify-content-center">
            {% for game in game_list %}
                <div class="card mb-3">
                    <a href="{% url 'game details' slug=game.slug %}">
                        <img src="{{ game.image.url }}" class="card-img-top" alt="image-cap">
                    </a>
                    <div class="card-body">
                        <h4>
                            <a href="{% url 'game details' slug=game.slug %}"
                               class="card-title">{{ game.title }}</a>
                        </h4>
                        <p class="card-text">Released on {{ game.release_date }} by {{ game.developer }}</p>
                        <h6 class="card-text"><a href="{{ game.official_website }}">Official Website</a></h6>
                        <p class="card-text">
                            {% if game.author %}
                                <small class="text-muted">
                                    Added on {{ game.publication_date_and_time }} by
                                    <a href="{% url 'profile details' pk=game.author.profile.pk %}">{{ game.author }}</a>
                                    , last update on {{ game.updated_on }}
                                </small>
                            {% else %}
                                <small class="text-muted">
                                    Added on {{ game.publication_date_and_time }} by Unknown, last update
                                    on {{ game.updated_on }}
                                </small>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% if game_list %}
        <section class="container-fluid justify-content-center pb-10">
            {% include 'base/partials/paginator.html' %}
        </section>
    {% endif %}
{% endblock %}
