{% extends 'base/base.html' %}

{% block content %}
    <section class="container-fluid justify-content-center pt-10 pb-10">
        <div class="container-sm justify-content-center">
            <form class="col-lg-8 offset-lg-2 container-fluid" action="{% url 'game add' %}" method="post" enctype="multipart/form-data">
                {% for field in form %}
                    <div class="container-fluid">
                        <label class="row justify-content-center col-form-label"
                               for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="container-fluid">
                    <input type="submit" class="btn btn-primary form-control" value="Add">
                </div>
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}
