{% extends 'base/base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block content %}
    <section class="container-fluid justify-content-center pt-10 pb-10">
        <div class="container-xl w-50 justify-content-center">
            <div class="row">
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="{{ object.image.url }}" class="img-fluid" alt="profile-img">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="display-26 text-primary me-2 font-weight-600">
                                    <h3 class="h2 text-primary">{{ object.title }}</h3>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-primary me-2 font-weight-600">Developer:</span>
                                        {{ object.developer }}
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-primary me-2 font-weight-600">Release Date:</span>
                                        {{ object.release_date }}
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-primary me-2 font-weight-600">Type:</span>
                                        {{ object.type }}
                                    </li>
                                    <li class="mb-2 mb-xl-3 display-28"><span
                                            class="display-26 text-primary me-2 font-weight-600">Max Level:</span>
                                        {{ object.max_level }}
                                    </li>
                                    {% if object.country %}
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-primary me-2 font-weight-600">Country:</span>
                                            {{ object.country }}
                                        </li>
                                    {% endif %}
                                    {% if object.city %}
                                        <li class="display-28"><span
                                                class="display-26 text-primary me-2 font-weight-600">City:</span>
                                            {{ object.city }}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div>
                        <h5 class="section-title text-primary mb-3 mb-sm-4">Description:</h5>
                        <p class="justify-content-center">{{ object.description }}</p>
                    </div>
                    <div class="text-center p-3 ratio ratio-16x9">
                        {% video object.trailer 'tiny' %}
                    </div>
                </div>
                <div class="row mb-sm-2">
                    <div class="container-fluid text-center">
                        <a class="btn btn-secondary p-sm-2 m-sm-2" href="{{ object.official_website }}">Play Now</a>
                        {% if request.user == object.author %}
                            <a href="{% url 'game edit' slug=object.slug %}" class="btn btn-primary p-sm-2 m-sm-2">Edit
                                Game</a>
                            <button type="button" class="btn btn-danger p-sm-2 m-sm-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Delete Game
                            </button>
                            <p class="card-text p-3"><small class="text-muted">
                                Added on {{ game.publication_date_and_time }} by
                                <a href="{% url 'profile details' pk=game.author.profile.pk %}">{{ game.author }}</a></small>
                            </p>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to
                                                delete this game?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-primary">
                                                Once deleted, this game will not be visible anymore!
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary p-sm-2 m-sm-2"
                                                    data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <a href="{% url 'game delete' slug=object.slug %}"
                                               class="btn btn-danger p-sm-2 m-sm-2">Delete
                                                Game</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
