{% extends 'base/base.html' %}

{% block content %}
    <section class="container-fluid justify-content-center">
        <h1 class="p-3">{% if request.user.is_authenticated %}
            <span class="span">{{ request.user }}, </span>
        {% endif %}
            <span>Welcome on the Next Level!</span>
        </h1>
        <h2 class="p-3">Dive into the vast world of the MMORPG games!</h2>
        {% if news %}
            <h5 class="p-3 text-center">Latest news:</h5>
        {% else %}
            <h5 class="p-3 text-center">No news yet!</h5>
        {% endif %}
    </section>
    <section class="container-fluid justify-content-center">
        <div class="container w-50 justify-content-center">
            {% for news_post in news %}
                <div class="card mb-3">
                    <a href="{% url 'news details' slug=news_post.slug %}">
                        <img src="{{ news_post.image.url }}" class="card-img-top" alt="image-cap">
                    </a>
                    <div class="card-body">
                        <h4>
                            <a href="{% url 'news details' slug=news_post.slug %}"
                               class="card-title">{{ news_post.title }}</a>
                        </h4>
                        <p class="card-text">{{ news_post.subtitle }}</p>
                        <p class="card-text"><small class="text-muted">
                            Added on {{ news_post.publication_date_and_time }} by
                            <a href="{% url 'profile details' pk=news_post.author.profile.pk %}">{{ news_post.author }}</a>
                            , last update on {{ news_post.updated_on }}</small>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="container-fluid justify-content-center pb-10">
        {% if news %}
            <h5 class="text-center">See all news <a href="{% url 'news list' %}">here</a></h5>
        {% endif %}
    </section>
{% endblock content %}
